language: python
python:
  - "3.8"

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

services:
  - xvfb

install:
  - pip install -r requirements.txt

before_script:
  - python TurnPageRoot/manage.py migrate
  - export DISPLAY=99:0
  - sleep 3

script:
  - black ./
  - flake8 ./
  - coverage run TurnPageRoot/manage.py test bookSwiping profiles utils

after_success:
  - coveralls
  - python TurnPageRoot/manage.py mysuperuser

deploy:
  provider: elasticbeanstalk
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
  region: "us-east-1"
  app: "TurnPage"
  env: $EB_ENV
  bucket_name: $AWS_BUCKET_NAME
  on:
    repo: $REPO
    branch: $BRANCH
    condition: $BRANCH = develop || $BRANCH = main
  skip_cleanup: 'true'
