asgiref==3.5.2
async-generator==1.10
attrs==22.1.0
black==22.10.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.0.9
click==8.1.3
colorama==0.4.5
coverage==6.5.0
coveralls==3.3.1
Django==4.1.2
django-appconf==1.0.5
django-compressor==4.1
django-environ==0.9.0
django-libsass==0.9
django-location-field==2.1.0
django-multiselectfield==0.1.12
django-ranged-response==0.2.0
django-sass-processor==1.2.2
django-simple-captcha==0.5.17
Django-Verify-Email==2.0.3
djangorestframework==3.14.0
docopt==0.6.2
exceptiongroup==1.0.0rc9
flake8==5.0.4
gunicorn==20.1.0
h11==0.14.0
idna==3.4
iniconfig==1.1.1
libsass==0.21.0
mccabe==0.7.0
mypy-extensions==0.4.3
outcome==1.2.0
packaging==21.3
pathspec==0.10.1
Pillow==9.2.0
platformdirs==2.5.2
pluggy==1.0.0
psycopg2==2.9.2
psycopg2-binary==2.9.4
py==1.11.0
pycodestyle==2.9.1
pycparser==2.21
pyflakes==2.5.0
pyparsing==3.0.9
PySocks==1.7.1
pytest==7.1.3
pytest-django==4.5.2
python-dotenv==0.21.0
pytz==2022.4
rcssmin==1.1.0
requests==2.28.1
rjsmin==1.2.0
selenium==4.5.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.3
tomli==2.0.1
tqdm==4.64.1
trio==0.22.0
trio-websocket==0.9.2
typing_extensions==4.4.0
tzdata==2022.5
Unidecode==1.3.6
urllib3==1.26.12
webdriver-manager==3.8.4
wsproto==1.2.0
