option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: "TurnPageRoot.settings"
        PYTHONPATH: "/var/app/current/TurnPageRoot:$PYTHONPATH"
    aws:elasticbeanstalk:container:python:
        WSGIPath: "TurnPageRoot.wsgi:application"
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        TurnPageRoot/staticfiles: static