<div class="">
    <div class="banner border-bottom border-black-50 border-2 justify-content-center d-lg-none py-2" >
        <a href="{% url 'home' %}">
    <img src="../static/images/turnpage_logos/logo_white.png" alt="turnpage logo" class="navbar-logo-img" style="z-index: 998">
    </a>
    </div>
    <nav class="navbar border-bottom border-black-50 border-2" style="z-index: 998">
        <div class="container align-items-center h-100">
            <div class="nav-brand nav-item nav-link text-white navbar-text d-none d-lg-block h-100 p-0">
                <a href="{% url 'home'%}"><img src="../static/images/turnpage_logos/logo_white.png" alt="turnpage logo" class="navbar-logo-img"></a>
            </div>

            <div class="nav-item nav-link text-white navbar-text">
                <a href="{% url 'mybookshelf' %}">My Books</a>

            </div>
            <div class="nav-item nav-link text-white navbar-text">
                {% if user.is_authenticated %}
                    <a href="{% url 'user_profile' %}">My Profile</a>

                {% else %}
                    <a href="{% url 'login' %}">Login</a>

                {% endif %}

            </div>
        </div>
    </nav>
</div>