{% extends 'registration-base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid d-flex align-items-center justify-content-center login-flex-container">
        <div class="container login-container">
            <div class="row h-100">
                <div class="col-sm-5 login-logo p-5 d-flex flex-column justify-content-center align-items-center">
                    <h1 class="text-center">TurnPage</h1>
                    <div class="text-center"><i>Judge a Book By its Lover</i></div>
                </div>
                <div class="col-sm-7 login-form-container signup-form-container text-center h-100">
                    <div class="text-dark">Login</div>
                    <form method="post" class="login-form w-100">
                        {% csrf_token %}
                        <div class="row form-row w-100 justify-content-center">
                            <div class="col-lg-7 w-75">
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="row form-row w-100 justify-content-center">
                            <div class="col-lg-7 w-75">
                                {{ form.password }}
                            </div>
                        </div>
                        <div class="row form-row w-100 justify-content-center">
                            <div class="col-lg-7 w-75">
                                <input class="btn login-btn w-100 my-2" type="submit" name="Submit" value="Log in"/>
                            </div>
                        </div>
                        <div class="row form-row w-100 justify-content-center">
                            <div class="col-lg-7 w-75">
                                New user? <a href="{% url 'signup' %}">Sign up</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}