{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid d-flex align-items-center justify-content-center login-flex-container">
        <div class="container login-container">
            <div class="row h-100">
                <div class="col-sm-5 login-logo p-5 d-flex justify-content-center align-items-center">
                    <h1 class="text-center">TurnPage</h1>
                </div>


                <div class="col-sm-7 login-form p-5 text-center">
                    <form method="post">
                        {% csrf_token %}
                        {#                        TODO make nicer#}
                        <div class="text-white">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
                        <div class="text-white">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>
                        <input class='btn btn-primary' type='submit' name='Submit' value="Log In"/>
                    </form>
                    <div class="text-white">
                        New user? <a href="{% url 'signup' %}">Register</a>
                    </div>

                </div>

                {#                                        <form action="">#}
                {#                                            <div class="form-row">#}
                {#                                                <div class="col-lg-7">#}
                {#                                                    <input type="text" name="username" placeholder="Enter Username" class="login-input my-2 p-2 w-100">#}
                {#                                                </div>#}
                {#                                            </div>#}
                {#                                            <div class="form-row">#}
                {#                                                <div class="col-lg-7">#}
                {#                                                    <input type="password" name="password" placeholder="Enter Password" class="login-input my-2 p-2 w-100">#}
                {#                                                </div>#}
                {#                                            </div>#}
                {#                                            <div class="form-row">#}
                {#                                                <div class="col-lg-7">#}
                {#                                                    <button type="button" class="btn login-btn w-100 my-2">Log in</button>#}
                {#                                                </div>#}
                {#                                            </div>#}
                {#                                        </form>#}
            </div>
        </div>
    </div>
    </div>

{% endblock %}