{% extends 'registration-base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid d-flex align-items-center justify-content-center login-flex-container">
        <div class="container login-container signup-container">
            <div class="row h-100">
                <div class="col-sm-5 login-logo signup-logo p-5 d-flex flex-column justify-content-center align-items-center">
                    <h1 class="text-center">TurnPage</h1>
                    <div class="text-center">Judge a book by its lover</div>
                </div>
                <div class="col-sm-7 justify-content-center align-items-center text-white login-form-container signup-form-container text-center h-100">
                    <div class="text-dark">logo</div>
                    <form method='POST' class='signup-form w-100'>
                        {% csrf_token %}
                        <!-- {{ form.as_p }} -->
                        <div class="row form-row w-100 justify-content-center">
                            <div class="col-lg-7 w-75">
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="row form-row w-100 justify-content-center">
                            <div class="col-lg-7 w-75">
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="row form-row w-100 justify-content-center">
                            <div class="col-lg-7 w-75">
                                {{ form.password1 }}
                            </div>
                        </div>
                        <div class="row form-row w-100 justify-content-center">
                            <div class="col-lg-7 w-75">
                                {{ form.password2 }}
                            </div>
                        </div>
                        <div class="row form-row w-100 justify-content-center">
                            <div class="col-lg-7 w-75">
                                {{ form.captcha_1 }}
                            </div>
                        </div>
                        <div class="row form-row w-100 justify-content-center">
                            <div class="col-lg-7 w-75">
                                <input class='btn login-btn w-100 my-2' type='submit' name='Submit' value='Sign up'/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}