{% extends 'registration-base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid d-flex align-items-center justify-content-center login-flex-container">
        <div class="container login-container signup-container">
            <div class="row h-100">
                <div class="col-sm-5 login-logo signup-logo p-5 d-flex flex-column justify-content-center align-items-center">
                    <img src="../../../static/images/turnpage_logos/logo_white.png" alt="turnpage logo"
                         class="reg-logo-word">
                    <div class="text-center"><i>Judge a Book By its Lover</i></div>
                </div>
                <div class="col-sm-7 justify-content-center align-items-center text-white login-form-container signup-form-container text-center h-100">
                    <div class="text-dark">Signup</div>
                    <form method='POST' class='signup-form w-100'>
                        {% csrf_token %}
                        <div class="row form-row w-100 justify-content-center">
                            <div class="col-lg-7 w-75">
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="row form-row w-100 justify-content-center">
                            <div class="col-lg-7 w-75">
                                {{ form.last_name }}
                                <div class="text-danger">
                                    {{ form.last_name.errors|striptags }}
                                </div>
                            </div>
                        </div>
                        <div class="row form-row w-100 justify-content-center">
                            <div class="col-lg-7 w-75">
                                {{ form.username }}
                                <div class="text-danger">
                                    {{ form.username.errors|striptags }}
                                </div>
                            </div>
                        </div>
                        <div class="row form-row w-100 justify-content-center">
                            <div class="col-lg-7 w-75">
                                {{ form.email }}
                                <div class="text-danger">
                                    {{ form.email.errors|striptags }}
                                </div>
                            </div>
                        </div>
                        <div class="row form-row w-100 justify-content-center">
                            <div class="col-lg-7 w-75">
                                {{ form.password1 }}
                                <div class="text-danger">
                                    {{ form.password1.errors|striptags }}
                                </div>
                            </div>
                        </div>
                        <div class="row form-row w-100 justify-content-center">
                            <div class="col-lg-7 w-75">
                                {{ form.password2 }}
                                <div class="text-danger">
                                    {{ form.password2.errors|striptags }}
                                </div>
                            </div>
                        </div>
                        <div class="row form-row w-100 justify-content-center">
                            <div class="col-lg-7 w-75">
                                <!-- <img src="/profiles/captcha/image/c18d22b40b50791ce4ae19b0b6889378a7bdba59/" alt="captcha" class="captcha"> -->
                                {{ form.captcha }}
                                <div class="text-danger">
                                    {{ form.captcha.errors|striptags }}
                                </div>
                            </div>
                        </div>
                        <div class="row form-row w-100 justify-content-center">
                            <div class="col-lg-7 w-75">
                                <div class="text-danger">
                                    {{ form.error|striptags }}
                                </div>
                                <input class='btn login-btn w-100 my-2' type='submit' name='Submit' value='Sign up'/>
                            </div>
                        </div>
                        <div class="row form-row w-100 justify-content-center">
         <!--                    <a href="{% url 'social:begin' 'amazon' %}">Login with Amazon</a><br>
                                          <a href id="LoginWithAmazon">
                                          <img border="0" alt="Login with Amazon"
                                     src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                                   width="156" height="32" />
                                     </a>
                            <script type="text/javascript">
                                document.getElementById('LoginWithAmazon').onclick = function() {
                                     options = {}
                                 options.scope = 'profile';
                             options.scope_data = {
                                   'profile' : {'essential': false}
                                  };
                              amazon.Login.authorize(options,
                                'https://127.0.0.1:8000/');
                      return false;
                                };
                      </script> -->
<!--                             <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br> -->
                          OR   <a href = "{% url 'social:begin' 'google-oauth2' %}">Login using Google</a><br>
                            <div class="col-lg-7 w-75 text-dark">
                                Returning user? <a href="{% url 'login' %}">Log in</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

   <!--  <div id="amazon-root"></div>
 <script type="text/javascript">

    window.onAmazonLoginReady = function() {
      amazon.Login.setClientId('amzn1.application-oa2-client.59436e1e1ba94ac58f22d10d44e325b9');
    };
    (function(d) {
      var a = d.createElement('script'); a.type = 'text/javascript';
      a.async = true; a.id = 'amazon-login-sdk';
      a.src = 'https://assets.loginwithamazon.com/sdk/na/login1.js';
      d.getElementById('amazon-root').appendChild(a);
    })(document);

</script> -->

{% endblock %}