:root {
    --rotation: 10deg;
    --primary-color: #B7A5B8;
    --primary-color-dark: #514152;
    --primary-color-vivid: #C29FC5;
    --secondary-color: #EAF1FB;
    --secondary-color-dark: #5E84B2;
}

body {
    background-color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 9998;
    transition: 2sec;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9999;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid var(--secondary-color);
    border-radius: 50%;
    border-top: 16px solid var(--primary-color-dark);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* BOOKS */

.main-content-container {
    height: 88vh;
}
@media only screen and (max-width: 991px) {
    .main-content-container {
        height: 80vh;
    }
}

.book-swiping-container {
    display: flex;
    padding: 30px;
    height: 80%; /* 75% of .main-content-container */
}

.book-col {
    height: 100%;
}

.deck {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%; /* 100% of .book-col */
}

.book {
    grid-row-start: 1;
    grid-column-start: 1;
    height: 100%; /* 100% of .deck */
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-cover-img {
    object-fit: cover;
    height: 0;
    min-height: 100%;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .8);
    cursor: pointer;
}

@media only screen and (max-width: 550px) {
    .book-cover-img {
        min-height: 60vw;
    }
}

.top-of-stack {
    transition: .1s;
}

.top-of-stack:hover {
    transform: translateY(-1rem);
}

.arrows {
    font-size: 8vw;
}

#swipe-left-btn {
    color: darkred;
}

#swipe-right-btn {
    color: green;
}

.bookshelf-btn-container {
    height: 20%;
}

.hidden {
    display: none;
}


/* NAV BAR */
.banner, .navbar {
    background-color: var(--primary-color);
    height: 12vh;
}
@media only screen and (max-width: 991px) {
    .banner, .navbar {
        height: 10vh;
    }
}

.nav-item a:link, .nav-item a:visited {
    text-decoration: none;
}

.nav-item a:hover {
    cursor: pointer;
}

/* LOGIN */
.login-flex-container {
    height: 100vh;
}

.login-container {
    background-color: var(--primary-color-dark);
    box-shadow: 12px 12px 22px grey;
    border-radius: 30px;
    min-height: 50vh;
}

.login-logo {
    background-color: var(--primary-color);
    min-height: 50vh;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0;
}

@media only screen and (max-width: 575px) {
    .login-container {
        margin: auto;
        width: 80%;
    }

    .login-logo {
        height: auto;
        min-height: 0;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
    }
}

.login-title {
    color: white;
}

.login-input {
    border-radius: 4px;
    border: 1px solid lightgrey;
    outline: none;
    background-color: var(--primary-color-dark);
    color: var(--primary-color)
}

.login-input:focus {
    outline: 2px solid var(--primary-color);
}

.login-input::placeholder {
    color: lightgrey;
}

.login-btn {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    outline: none;
    height: 50px;
    background-color: var(--primary-color);
}

.login-btn:hover {
    background-color: var(--primary-color-dark);
    color: var(--primary-color);
}


footer {
  background: var(--primary-color);
  text-align: center;
  padding-top: 0.8rem;

}
.social a {
  padding: 0 .5em;
}
