:root {
    --rotation: 10deg;
    --primary-color: #B7A5B8;
    --primary-color-dark: #514152;
    --primary-color-vivid: #C29FC5;
    --secondary-color: #EAF1FB;
    --secondary-color-dark: #5E84B2;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.registration-body {
    background-color: var(--secondary-color);
    background: linear-gradient(45deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}

h1 {
    font-weight: 700;
}

/* BOOKS */

.main-content-container {
    height: 92vh;
}
@media only screen and (max-width: 991px) {
    .main-content-container {
        height: 84vh;
    }
}

.book-swiping-container {
    display: flex;
    padding: 30px;
    height: 80%; /* 75% of .main-content-container */
}

.book-col {
    height: 100%;
}

.deck {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%; /* 100% of .book-col */
}

.book {
    grid-row-start: 1;
    grid-column-start: 1;
    height: 100%; /* 100% of .deck */
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-cover-img {
    object-fit: cover;
    height: 0;
    min-height: 100%;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .8);
    cursor: pointer;
}

@media only screen and (max-width: 550px) {
    .book-cover-img {
        min-height: 60vw;
    }
}

.top-of-stack {
    transition: .1s;
}

.top-of-stack:hover {
    transform: translateY(-1rem);
}

.arrows {
    font-size: 8vw;
}

#swipe-left-btn {
    color: darkred;
}

#swipe-right-btn {
    color: green;
}

.bookshelf-btn-container {
    height: 20%;
}

.hidden {
    display: none;
}


/* NAV BAR */
.banner, .navbar {
    background-color: var(--primary-color);
    background: linear-gradient(90deg, var(--primary-color-dark) 0%, var(--primary-color-vivid) 100%);
    min-height: 8vh;
}
.nav-item a:link, .nav-item a:visited {
    text-decoration: none;
    color: white;
    margin-top: 0;
}

.nav-item a:hover {
    cursor: pointer;
}

.nav-brand {
    margin-right: auto;
}

/* LOGIN */
.login-flex-container {
    height: 100vh;
}

.login-container {
    background-color: white;
    box-shadow: 12px 12px 22px grey;
    border-radius: 30px;
    min-height: 50vh;
    height: 50vh;
}

.signup-container {
    min-height: 75vh;
    height: 75vh;
}

.login-logo {
    background-color: var(--primary-color);
    background: linear-gradient(45deg, var(--primary-color-dark) 0%, var(--primary-color-vivid) 100%);
    min-height: 50vh;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0;
    color: white;
}

.signup-logo {
    min-height: 75vh;
    height: 100%;
}

@media only screen and (max-width: 575px) {
    .login-container {
        margin: auto;
        width: 80%;
        height: auto;
    }

    .login-logo {
        height: auto;
        min-height: 0;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
    }
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-title {
    color: white;
}

.login-input {
    border-radius: 4px;
    border: 1px solid lightgrey;
    outline: none;
    background-color: var(--secondary-color);
    color: black;
    width: 100%;
}

.login-input:focus {
    outline: 2px solid var(--primary-color);
}

.login-input::placeholder {
    color: grey;
}

.login-btn {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    outline: none;
    height: 50px;
    background-color: var(--primary-color);
    background-image: linear-gradient(45deg, var(--primary-color-dark) 0%, var(--primary-color-vivid) 100%);
    color: white;
    transition: background .2s;
}

.login-btn:hover {
    background: white;
    color: black;
}

/* FOOTER */
footer {
  background: var(--primary-color);
  text-align: center;
  padding-top: 0.8rem;

}
.social a {
  padding: 0 .5em;
}
