:root {
    --rotation: 10deg;
}

body{
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
}

/* BOOKS */

.book-cover-img {
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .8);
    cursor: pointer;
}

@media only screen and (max-width: 991px) {
    .book-cover-img {
        width: 70%;
    }
  }

@media only screen and (max-width: 600px) {
    .book-cover-img {
        width: 90%;
    }
}

.book-swiping-container{
    padding: 30px;
}

.arrows {
    font-size: 8vw;
}

#swipe-left-btn{
    color: darkred;
}

#swipe-right-btn{
    color: green;
}

.hidden{
    display: none;
}


/* NAV BAR */
.banner {
    background-color: #ffcbf0;
}

.navbar {
    background-color: #ffcbf0;
}

.nav-item a:link, .nav-item a:visited {
    text-decoration: none;
}
.nav-item a:hover {
    cursor: pointer;
}