:root {
    --rotation: 10deg;
    --primary-color: #B7A5B8;
    --primary-color-dark: #514152;
    --primary-color-vivid: #C29FC5;
    --secondary-color: #EAF1FB;
    --secondary-color-dark: #5E84B2;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 9998;
    transition: 2 sec;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9999;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid var(--secondary-color);
    border-radius: 50%;
    border-top: 16px solid var(--primary-color-dark);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.registration-body {
    background-color: var(--secondary-color);
    background: linear-gradient(45deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}

h1 {
    font-weight: 700;
}

/* ONBOARDING */
.genres-list {
    list-style-type: none;
}

.genre {
    background-color: var(--primary-color-dark);
    background: linear-gradient(45deg, var(--primary-color-dark) 0%, var(--primary-color-vivid) 100%);
    font-weight: 700;
    border: 0;
    color: white;
}

.genre:hover {
    cursor: pointer;
}

.selected-genre {
    background: white;
    border: 2px solid var(--primary-color-dark);
    color: var(--primary-color-dark);
}

.next-btn {
    border-radius: 4px;
    outline: none;
    height: 50px;
    border: 2px solid grey;
    background: lightgrey;
    transition: background .2s;
    color: grey;
    width: 80px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.next-btn:hover {
    cursor: not-allowed;
}

.next-btn-active {
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color-dark);
    cursor: pointer;

}

.next-btn-active:hover {
    background: var(--primary-color);
    border: 2px solid var(--secondary-color);
    cursor: pointer;
}


/* BOOKS */

.main-content-container {
    height: 92vh;
}

@media only screen and (max-width: 991px) {
    .main-content-container {
        height: 84vh;
    }
}

.book-swiping-container {
    display: flex;
    padding: 30px;
    height: 80%; /* 75% of .main-content-container */
}

.book-col {
    height: 100%;
}

.deck {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%; /* 100% of .book-col */
}

.book {
    grid-row-start: 1;
    grid-column-start: 1;
    height: 100%; /* 100% of .deck */
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-cover-img {
    object-fit: cover;
    height: 0;
    min-height: 100%;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .8);
    cursor: pointer;
}

@media only screen and (max-width: 550px) {
    .book-cover-img {
        min-height: 60vw;
    }
}

.top-of-stack {
    transition: .1s;
}

.top-of-stack:hover {
    transform: translateY(-1rem);
}

.arrows {
    font-size: 8vw;
}

#swipe-left-btn {
    color: darkred;
}

#swipe-right-btn {
    color: green;
}

.bookshelf-btn-container {
    height: 20%;
}

.hidden {
    display: none;
}


/* NAV BAR */
.banner, .navbar {
    background-color: var(--primary-color);
    background: linear-gradient(90deg, var(--primary-color-dark) 0%, var(--primary-color-vivid) 100%);
    min-height: 8vh;
}

.navbar-logo-img {
    width: 180px;
    height: auto;
    display: block;
    margin: 0 auto;
}


@media only screen and (max-width: 991px) {
    .banner, .navbar {
        height: 10vh;
    }
}


.nav-item a:link, .nav-item a:visited {
    text-decoration: none;
    color: white;
    margin-top: 0;
}

.nav-item a:hover {
    cursor: pointer;
}

.nav-brand {
    margin-right: auto;
}

/* LOGIN */
.login-flex-container {
    height: 100vh;
}

.login-container {
    background-color: white;
    box-shadow: 12px 12px 22px grey;
    border-radius: 30px;
    min-height: 50vh;
    height: 50vh;
}

.signup-container {
    min-height: 95vh;
    height: 95vh;
}

.login-logo {
    background-color: var(--primary-color);
    background: linear-gradient(45deg, var(--primary-color-dark) 0%, var(--primary-color-vivid) 100%);
    min-height: 50vh;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0;
    color: white;
}

.signup-logo {
    min-height: 75vh;
    height: 100%;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 575px) {
    .login-container {
        margin: auto;
        width: 80%;
        height: auto;
    }

    .login-logo {
        height: auto;
        min-height: 0;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
    }

    .login-form-container {
        padding: 10px 0;
    }
}

.login-title {
    color: white;
}

.login-input {
    border-radius: 4px;
    border: 1px solid lightgrey;
    outline: none;
    background-color: var(--secondary-color);
    color: black;
    width: 100%;
}

.login-input:focus {
    outline: 2px solid var(--primary-color);
}

.login-input::placeholder {
    color: grey;
}

.login-btn {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    outline: none;
    height: 50px;
    background-color: var(--primary-color);
    background-image: linear-gradient(45deg, var(--primary-color-dark) 0%, var(--primary-color-vivid) 100%);
    color: white;
    transition: background .2s;
}

.login-btn:hover {
    background: white;
    color: black;
}

.reg-logo-word {
    width: 200px;
    height: auto;
    display: block;
}

.reg-logo-letter {
    width: 60px;
    height: auto;
    display: block;
    margin: auto;
}

/* FOOTER */
footer {
    background: var(--primary-color);
    text-align: center;
    padding-top: 0.8rem;

}

.social a {
    padding: 0 .5em;
}

.bookshelf-img {
    object-fit: cover;
    width: 250px;
    height: 350px;
}

.bookshelf-vector {
    width: 50%;
}

/* PROFILE PAGE */

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(var(--secondary-color)), to(var(--secondary-color-dark)));
    background: linear-gradient(-45deg, var(--secondary-color-dark), var(--secondary-color));
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    object-fit: cover;
    border-radius: 10px;
    width: 100px;
    height: 100px;

}


h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}