{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="bookshelf01">
        <div class="my-bookshelf">
            <ul>
                {% for book in books %}
                    <li>
                        <img src="{{ book.cover_img }}" class="bookshelf-img img" alt="{{ book.title }}"/>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <img src="{% static 'images/bookshelf-01.png' %}" class="bookshelf-vector" alt="">

    </div>

    <div class="bookshelf02">
        <div class="my-bookshelf">
            <ul>
                {% for book in saved_books %}
                    <li>
                        <img src="{{ book.cover_img }}" class="bookshelf-img img" alt="{{ book.title }}"/>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <img src="{% static 'images/bookshelf-01.png' %}" alt="">
    </div>




{% endblock %}