{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid main-content-container">
        <!-- Swiping -->
        <div class="row align-items-center justify-content-between book-swiping-container pt-5">
            <div class="col-1 p-0">
                <button type="button" class="material-symbols-outlined btn arrows text-center w-100 p-0"
                        id="swipe-left-btn">heart_minus
                </button>
            </div>
            <div class="col book-col">
                <div class="deck">

{#                    TODO NOTE: I commented 12 of the books out just to make it easier for testing.#}
{#                    TODO also note that you need two inner divs for `flip()` to work#}
{##}
{#                    <div class=" text-center book" id="book15">#}
{#                        <img src="{{ book15.cover_img }}" class="book-cover-img" id="book15-img"#}
{#                             alt="">#}
{#                    </div>#}
{##}
{#                    <div class=" text-center book" id="book14">#}
{#                        <img src="{{ book14.cover_img }}" class="book-cover-img" id="book14-img"#}
{#                             alt="">#}
{#                    </div>#}
{##}
{#                    <div class=" text-center book" id="book13">#}
{#                        <img src="{{ book13.cover_img }}" class="book-cover-img" id="book14-img"#}
{#                             alt="">#}
{#                    </div>#}
{##}
{#                    <div class=" text-center book" id="book12">#}
{#                        <img src="{{ book12.cover_img }}" class="book-cover-img" id="book12-img"#}
{#                             alt="">#}
{#                    </div>#}
{##}
{#                    <div class=" text-center book" id="book11">#}
{#                        <img src="{{ book11.cover_img }}" class="book-cover-img" id="book11-img"#}
{#                             alt="">#}
{#                    </div>#}
{##}
{#                    <div class=" text-center book" id="book10">#}
{#                        <img src="{{ book10.cover_img }}" class="book-cover-img" id="book10-img"#}
{#                             alt="">#}
{#                    </div>#}
{##}
{#                    <div class=" text-center book" id="book9">#}
{#                        <img src="{{ book09.cover_img }}" class="book-cover-img" id="book9-img"#}
{#                             alt="">#}
{#                    </div>#}
{##}
{#                    <div class=" text-center book" id="book8">#}
{#                        <img src="{{ book08.cover_img }}" class="book-cover-img" id="book8-img"#}
{#                             alt="">#}
{#                    </div>#}
{##}
{#                    <div class=" text-center book" id="book7">#}
{#                        <img src="{{ book07.cover_img }}" class="book-cover-img" id="book7-img"#}
{#                             alt="">#}
{#                    </div>#}
{##}
{#                    <div class=" text-center book" id="book6">#}
{#                        <img src="{{ book06.cover_img }}" class="book-cover-img" id="book6-img"#}
{#                             alt="">#}
{#                    </div>#}

{#                    <div class="flippable text-center book" id="book5">#}
{#                        <img src="{{ book05.cover_img }}" class="book-cover-img" id="book5-img"#}
{#                             alt="">#}
{#                    </div>#}
{##}
{#                    <div class="flippable text-center book" id="book4">#}
{#                        <img src="{{ book04.cover_img }}" class="book-cover-img" id="book4-img"#}
{#                             alt="">#}
{#                    </div>#}

{#                    <div class=" text-center book" id="book3">#}
{#                        <div class="front">#}
{#                            <img src="{{ book03.cover_img }}" class="book-cover-img" id="book3-img" alt="">#}
{#                        </div>#}
{#                        <div class="back">#}
{#                            <img src="{{ book03.cover_img }}" class="book-cover-img" id="book3-img" alt="">#}
{#                        </div>#}
{#                    </div>#}
{##}
                    <div class="flippable text-center book" id="book2">
                        <div class="front">
                            <img src="{{ book02.cover_img }}" class="book-cover-img" id="book2-img" alt="">
                        </div>
                        <div class="back">
                            <img src="{{ book02.cover_img }}" class="book-cover-img" id="book2-img" alt="">
                        </div>
                    </div>

                    <div class=" flippable draggable text-center book" id="book1">
{#                        <img src="{{ book01.cover_img }}" class="book-cover-img top-of-stack" id="book1-img" alt="">#}
                        <div class="front ">
                            <img src="{{ book01.cover_img }}" class="book-cover-img top-of-stack" id="book1-img" alt="">
                        </div>
                        <div class="back ">
                            <img src="{{ book01.cover_img }}" class="book-cover-img top-of-stack" id="book1-img" alt="">
                        </div>

                    </div>


                </div>

            </div>
            <div class="col-1 p-0">
                <button type="button" class="material-symbols-outlined btn arrows text-center w-100 p-0"
                        id="swipe-right-btn">heart_plus
                </button>
            </div>
        </div>
        <div class="row bookshelf-btn-container">
            <div class="col text-center">
                <button type="button" class="material-symbols-outlined btn arrows" id="bookshelf-btn">menu_book</button>
            </div>
        </div>
    </div>


{% endblock %}