{% extends 'base.html' %}

{% block content %}
    {% comment %}
    This is where the main swiping functionality happens. This file contains mostly the divs that will be utilized by the javascript file to generate the books.
    {% endcomment %}
{##}
{#    <div class=" swiping-container">#}
{#        <h1 class="display-1">Test!</h1>#}
{#    </div>#}

            <div class="container">

                <div id="swiper"></div>
                <div class="container">

                    <ion-icon id="dislike" name="heart-dislike"></ion-icon>
                    <ion-icon id="bookshelf" name="book-outline"></ion-icon>
                    <ion-icon id="like" name="heart"></ion-icon>
                </div>
            </div>

{% endblock %}